:root {
  --bright-accent: #C9F646;
  --dark-accent:   #9BCC0F;
  --white:         #FFFFFF;
  --light:         #E9EBE1;
  --medium:        #919487;
  --dark:          #4D4F48;
  --black:         #000000;
}

body > * {
  transition: 100ms ease-out;
}

#main-container {
  margin: auto;
  padding: 3em 15%;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-gradient {
  background: linear-gradient(90deg, var(--dark) 0%, var(--black) 100%);
}

.button {
  width: 7em;
  height: 3em;
  /* padding: 1em; */

  text-align: center;
  line-height: 1em;
}

/* #region BUTTON STYLES ---------------------------------------------- */
.button-primary {
  background-color: var(--bright-accent);
  border: none;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: var(--dark-accent);
}

.button-primary:disabled, .button-primary[disabled] {
  color: var(--black);
  background-color: var(--dark);
}

.button-secondary {
  color: var(--bright-accent);
  background-color: var(--black);
  border: 1px solid var(--bright-accent);
  border-radius: 4px;
}

.button-secondary:hover {
  background-color: var(--dark);
}

.button-secondary:disabled, .button-secondary[disabled] {
  color: var(--dark);
  background-color: var(--black);
  border: 1px solid var(--dark);
}
/* #endregion --------------------------------------------------------- */

header, main, #button-container {
  width: 100%;
  padding: 0.5em;
  border-radius: 4px;
}

#next-button {
  margin-left: auto;
}